In [1]:
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Activation,Dense,BatchNormalization,Dropout
from tensorflow.keras import optimizers

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
data=pd.read_csv("Churn_Modelling.csv")

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
x=data.drop(labels=["RowNumber","CustomerId","Surname","Exited"],axis=1)

In [5]:
y=data["Exited"]

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
labe_1=LabelEncoder()
x["Geography"]=labe_1.fit_transform(x["Geography"])
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,Female,42,2,0.00,1,1,1,101348.88
1,608,2,Female,41,1,83807.86,1,0,1,112542.58
2,502,0,Female,42,8,159660.80,3,1,0,113931.57
3,699,0,Female,39,1,0.00,2,0,0,93826.63
4,850,2,Female,43,2,125510.82,1,1,1,79084.10

#

In [8]:
labe_2=LabelEncoder()
x["Gender"]=labe_2.fit_transform(x["Gender"])
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [9]:
x=pd.get_dummies(x,drop_first=True,columns=["Geography"])

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [12]:
model=Sequential()

In [13]:
model.add(Dense(units=6,activation="relu",input_dim=11))

In [14]:
model.add(Dense(units=6,activation="relu"))

In [15]:
model.add(Dense(units=6,activation="relu"))

In [16]:
model.add(Dense(units=6,activation="relu"))

In [17]:
model.add(Dense(units=6,activation="relu"))

In [18]:
model.add(Dense(units=6,activation="relu"))

In [19]:
model.add(Dense(units=1,activation="sigmoid"))

In [20]:
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

In [21]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 72
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_4 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_5 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 7
=================================================================
Total params: 289
Trainable params: 289
Non-trainable params: 0
_________________________________________________________________

In [22]:
model.fit(x_train ,y_train.to_numpy(),batch_size=10,epochs=20)

Epoch 1/20
800/800 [==============================] - 2s 1ms/step - loss: 0.5447 - accuracy: 0.7920
Epoch 2/20
800/800 [==============================] - 1s 1ms/step - loss: 0.4478 - accuracy: 0.8041
Epoch 3/20
800/800 [==============================] - 1s 1ms/step - loss: 0.4335 - accuracy: 0.7956
Epoch 4/20
800/800 [==============================] - 1s 1ms/step - loss: 0.4300 - accuracy: 0.8118
Epoch 5/20
800/800 [==============================] - 1s 1ms/step - loss: 0.4223 - accuracy: 0.8256
Epoch 6/20
800/800 [==============================] - 1s 1ms/step - loss: 0.4118 - accuracy: 0.8330
Epoch 7/20
800/800 [==============================] - 1s 1ms/step - loss: 0.4014 - accuracy: 0.8348
Epoch 8/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3947 - accuracy: 0.8377
Epoch 9/20
800/800 [==============================] - 1s 2ms/step - loss: 0.3803 - accuracy: 0.8452
Epoch 10/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3612 - accuracy: 0.8580
Epoch 11/20
800/800 [==============================] - 1s 2ms/step - loss: 0.3621 - accuracy: 0.8597
Epoch 12/20
800/800 [==============================] - 1s 2ms/step - loss: 0.3642 - accuracy: 0.8561
Epoch 13/20
800/800 [==============================] - 1s 2ms/step - loss: 0.3488 - accuracy: 0.8664
Epoch 14/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3541 - accuracy: 0.8556
Epoch 15/20
800/800 [==============================] - 1s 2ms/step - loss: 0.3599 - accuracy: 0.8553
Epoch 16/20
800/800 [==============================] - 1s 2ms/step - loss: 0.3610 - accuracy: 0.8529
Epoch 17/20
800/800 [==============================] - 1s 2ms/step - loss: 0.3423 - accuracy: 0.8657
Epoch 18/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3333 - accuracy: 0.8640
Epoch 19/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3378 - accuracy: 0.8644
Epoch 20/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3414 - accuracy: 0.8627

In [23]:
lest_loss,test_acc=model.evaluate(x_test,y_test.to_numpy())

63/63 [==============================] - 0s 1ms/step - loss: 0.3444 - accuracy: 0.8600